@media screen and (min-width:750px){
    .contacts > main {
        margin-left: 40px;
        height: 70.6vh;
    }
    li > img{
        width: 50px;
    }
    h1{
        padding-top: 15px;
    }
    .contacts-list{
        display: flex;
        flex-direction: column;
        gap: 35px;
        height: auto;
    }
    .contacts-list > li{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: start;
        gap: 20px;
    }
    a {
        text-decoration: none;
        color: black;
        font-size: 36px;
    }
}