@media screen and (min-width:750px){
    .names{
        display: block;
        cursor: pointer;
    }
    .apps{
        display: none;
    }
    .project-names{
        display: grid;
        justify-content: start;
        align-items: start;
        gap: 20px;
        margin-right: 200px;
        position: sticky;
        z-index: 100;
        top: 18vh;
        height: 50vh;
    }
    .proj-main{
        display: flex;
        padding-left: 40px;
    }
    .assets{
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: auto;
        gap: 40px;
    }
    img.proj-photos{
        width: 70%;
        height: auto;
    }
    main{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }
    h1{
        position: sticky;
        z-index: 100;
        top: 8vh;
    }
}