@media screen and (min-width:750px){
    h5.names{
        display: block;
        cursor: pointer;
        font-size:32px ;
    }
    h1{
        padding-top: 20px;
    }
    .bigger-font{
        color: darkblue;
    }
    .apps{
        display: none;
    }
    .project-names{
        display: grid;
        justify-content: start;
        align-items: start;
        gap: 20px;
        position: sticky;
        z-index: 100;
        top: 18vh;
        height: 49vh;
    }
    .proj-main{
        display: flex;
        padding-left: 40px;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }
    .main{
        width: 100%;
        height: auto;
        background-image: url(/public/about-imgs/background.jpg);
        background-repeat: no-repeat;
        background-position: top;
        background-size: cover;
        padding-bottom: 15vh;
    }
    .assets{
        width: 70%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: end;
        width: 100%;
        height: auto;
        gap: 40px;
        padding-right: 100px;
    }
    img.proj-photos{
        width: 70%;
        height: auto;
    }
    iframe.proj-videos{
        width: 70%;
        height: 70vh;
    }
}